<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="../static/CSS/JS/script.js"></script>
    <script src="https://kit.fontawesome.com/c757500192.js" crossorigin="anonymous"></script>
    <title> Chat Bot</title>
</head>
<body>
    

    <div class="container">
        <h1> Chat-Bot </h1>
        <div class="msg-container">
            <!-- <div class="msg" id="msg"> -->
                
            
        </div>
        <div class="input-bar">
           
                <input type="text" id="inputText" class="input" placeholder="message..." required>
                <button type="submit" id="send-button"><i class="fa-solid fa-arrow-right"></i></button>
 
        </div>
    </div>
</body>
</html>